.flex{
    display: flex;
}

.items-center{
 align-items: center;
}

header nav .header-title{
    margin-right: 3rem;
}
header nav .left a:hover{
 color:var(--primary);
 transition: all 0.5s;
}
.btn{
    padding: 0.8rem 2rem;
    font-size:1rem;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    color: cornsilk;
    transition:all 0.3;
}
.btn-primary{
    background-color: rgb(24, 51, 199);
    border-color:rgb(1, 0, 61);
}
.btn-primary:hover{
   border-color: blue;

   background: rgb(167, 240, 240);
   color:rgb(4, 255, 30);
}
.button1{
    float:left;
}
.button-2{
    margin-top: 2rem;
}